
main
{
    display: flex;
    justify-content: center;
}
.menu
{
    border-radius: 10%;
    flex-direction: column;
    opacity: 60%;
    display: flex;
    margin-top: 40px;
    border: 2px solid black;
    width: 400px;
    height: 350px;
    align-items: center;
    justify-content: center;
}
.cb
{
    width: 200px;
    height: 20px;
}
label
{
    margin: 15px;
}
.temperatura
{
    font-size: 40px;
    font: bold;
}
#iconClima
{
    margin-top: 3px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz34ZfNgWC9gedYRgsULK7ueQkVtZulKH7Sw&s");
    align-self: self-end;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;

}