
main
{
    display: flex;
    justify-content: center;
}
.menu
{
    border-radius: 10%;
    flex-direction: column;
    opacity: 60%;
    display: flex;
    margin-top: 40px;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.cb
{
    width: 200px;
    height: 20px;
}
label
{
    margin: 15px;
}
.temperatura
{
    font-size: 40px;
    font: bold;
}
#DivIcon
{
    margin-top: 3px;
    align-self: self-end;
    margin-right: 20px;
    width: 100px;
    height: 100px;

}
#iconClima
{
    width: 70px;
    height: 70px;
    background-size: cover;
}
#condition
{
    font-size: 12px;
}